<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Lumino - Dashboard</title>

<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/datepicker3.css" rel="stylesheet">
<link href="/static/css/styles.css" rel="stylesheet">

<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->

</head>


<body>
{% block login %}

{% block customer_form %}<!--此标签是block customer_form的，那个块又js代码，需要用到jQuery所以要继承jQuery代码-->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><span>Lumino</span>Admin</a>
				<ul class="user-menu">
					<li class="dropdown pull-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{ request.user }} <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
							<li><a href="{% url 'k_logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div><!-- /.container-fluid -->
	</nav>

	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<form role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
		</form>
            <ul class="nav menu">
                <li>
                    <a href="/mycrm/">
                        <span class="glyphicon glyphicon-dashboard">

                        </span> 首页
                    </a>
                </li>

                <li>
                    <a href="/mycrm/enrollment/">
                        <span class="glyphicon glyphicon-dashboard">

                        </span> 报名页面
                    </a>
                </li>
{#				<ul class="children collapse" id="sub-item-1">#}<!--加上这行，无法执行下面的for循环不清楚原因-->
                {% for role in request.user.role.all %}
                    {% for menu in role.menus.select_related %}
					<li>
                        <a href="{% if menu.url_type == 0 %}{% url menu.url_name %}{% else %}{% url menu.url_name %}{% endif %}">
                            <span class="glyphicon glyphicon-dashboard"></span>{{ menu.name }}
                        </a>
					</li>
                    {% endfor %}
                {% endfor %}
{#                </ul>#}
			<li role="presentation" class="divider"></li>
			<li><a href="/mycrm/login/"><span class="glyphicon glyphicon-user"></span> Login Page</a></li>
		</ul>





<!--
		<ul class="nav menu">




{#  <!--          {% for role in request.user.role.all %}#}
{#                    {% for menu in role.menus.select_related %}#}
{#                        <li>#}
{#                            <a href="{% if menu.url_type == 0 %}{% url menu.url_name %}{% else %}{% url menu.url_name %}{% endif %}">#}
{#                                {{ menu.name }}#}
{#                            </a>#}
{#                        </li>#}
{#                    {% endfor %}#}
{#              {% endfor %}-->#}


			<li class="active"><a href="index.html"><span class="glyphicon glyphicon-dashboard"></span> 首页</a></li>
			<li><a href="widgets.html"><span class="glyphicon glyphicon-th"></span> Widgets</a></li>
			<li><a href="charts.html"><span class="glyphicon glyphicon-stats"></span> Charts</a></li>
			<li><a href="tables.html"><span class="glyphicon glyphicon-list-alt"></span> 客户数据页</a></li>
			<li><a href="forms.html"><span class="glyphicon glyphicon-pencil"></span> Forms</a></li>
			<li><a href="panels.html"><span class="glyphicon glyphicon-info-sign"></span> Alerts &amp; Panels</a></li>
			<li class="parent "><a href="#"><span class="glyphicon glyphicon-list"></span> 文件上传 <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="glyphicon glyphicon-s glyphicon-plus"></em></span></a>
				<ul class="children collapse" id="sub-item-1">
					<li>
						<a class="" href="#">
							<span class="glyphicon glyphicon-share-alt"></span> Sub Item 1
						</a>
					</li>
					<li>
						<a class="" href="#">
							<span class="glyphicon glyphicon-share-alt"></span> Sub Item 2
						</a>
					</li>
					<li>
						<a class="" href="#">
							<span class="glyphicon glyphicon-share-alt"></span> Sub Item 3
						</a>
					</li>
				</ul>
			</li>
			<li role="presentation" class="divider"></li>
			<li><a href="login.html"><span class="glyphicon glyphicon-user"></span> Login Page</a></li>
		</ul>
		-->
	</div><!--/.sidebar-->
{% block enrollment_contract_form %}
{% endblock %}




{% block enrollment %}
{% endblock %}


{% block db_table_name %}
{% endblock %}

{% block index %}
{% endblock %}

{% block table_show %}
{% endblock %}

{% block model %}
{% endblock %}


{% endblock %}




  	<script src="/static/js/jquery-1.11.1.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/chart.min.js"></script>
	<script src="/static/js/chart-data.js"></script>
	<script src="/static/js/easypiechart.js"></script>
	<script src="/static/js/easypiechart-data.js"></script>
	<script src="/static/js/bootstrap-datepicker.js"></script>


{% endblock %}


	<script>
		$('#calendar').datepicker({
		});

		!function ($) {
		    $(document).on("click","ul.nav li.parent > a > span.icon", function(){
		        $(this).find('em:first').toggleClass("glyphicon-minus");
		    });
		    $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>


</body>


</html>